.content-div {
    height: 73rem;
    background-color: #fff;
}

.img-container {
    position: relative;
    text-align: center;
}

.img-content {
    height: 400px;
    width: 100%;
    /* opacity: 0.5; */
    filter: brightness(30%);
    
   
}

.img-product {
    position: absolute;
    top: 10rem;
    left: 23rem;
}

.product-count {
    position: absolute;
    top: 10rem;
    left: 30rem;
    font-size: 50px;
    color: white;
}

.product {
    position: absolute;
    top: 14rem;
    left: 31rem;
    color: white;
    font-weight: 400;
}
.img-person{
    position: absolute;
    top: 10rem;
    left: 48rem;
}
.person-count{
    position: absolute;
    top: 10rem;
    left: 55rem;
    font-size: 50px;
    color: white;
}
.person-text{
    position: absolute;
    top: 14rem;
    left: 55rem;
    color: white;
    font-weight: 400;
}
.img-users{
    position: absolute;
    top: 10rem;
    left: 73rem;
}
.user-count{
    position: absolute;
    top: 10rem;
    left: 80rem;
    font-size: 50px;
    color: white;
}
.user-text{
    position: absolute;
    top: 14rem;
    left: 80rem;
    color: white;
    font-weight: 400;
}
.content-heading {
    margin-top: 4rem;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.content-card {
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    margin-top: 4rem;
}

.card-content-Style {
    justify-content: start;
    background-color: #f4f6f5;
    margin-left: 10rem;
    border: none;
    padding: 10px;
    transition: transform 2s;
}

.card-content-Style:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 6px -6px #646464;
}

.button-or {
    height: 120px;
    width: 120px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    background-color: #16a085;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10rem;
    margin-top: 5rem;
    border: none;
}

.first-heading {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 2rem;
    color: black;
    text-align: center;
}

.symbol {
    margin-left: 3px;
}

.second-heading {
    font-size: 80px;
    font-weight: 200;
    color: #16a085;
}

.third-heading {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: black;
}

.btn-submit {
    margin-left: 130px;
    margin-top: 10px;
    background-color: #fcaf01;
    padding: 4px 15px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    width: 125px;
    height: 51px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 1px 0px #bc8200;
}